/* AcrdMenu begin Do not remove the string and comments in the CSS classes below */

.eadQJBB__Main
{white-space:nowrap;
width:169px;
}
.eadQJBB__Preload
{width:0px;
height:0px;
display: inline;
position:absolute;top:-1000px;}
.eadQJBB__Main ul {
list-style:none;
padding:0px;
overflow:hidden;
display:block;
float:left;
border:0px;
font-size:1px;
background-image:none;
}
.eadQJBB__Main ul li {
list-style:none;
padding:0px;
margin:0px;
overflow:hidden;
display:block;
float:left;
border:0px;
font-size:1px;
background-image:none;
}
/*AcrdMenu:0*/

#AcrdMenueadQJBBDiv .eadQJBB__Level-1-arrow{
font-size:12px;
font-weight:bold;
font-family:Arial,Helvetica,sans-serif;
font-style:normal;
color:#ffffff;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:20px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_arrow.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
cursor:pointer;
height:30px;
line-height:30px;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-1-arrow_MO{
color:#78a855;
font-weight:normal;
font-style:normal;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_arrowover.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-1-arrow_SEL{
font-size:12px;
font-weight:bold;
font-family:Arial,Helvetica,sans-serif;
font-style:normal;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:20px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
cursor:pointer;
height:30px;
line-height:30px;
color:#78a855;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_arrowover.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}
/*AcrdMenu:0*/

#AcrdMenueadQJBBDiv .eadQJBB__Level-1{
font-size:12px;
font-weight:bold;
font-family:Arial,Helvetica,sans-serif;
font-style:normal;
color:#ffffff;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:20px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_normal.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
cursor:pointer;
height:30px;
line-height:30px;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-1_MO{
color:#78a855;
font-weight:normal;
font-style:normal;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_normalover.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-1_SEL{
font-size:12px;
font-weight:bold;
font-family:Arial,Helvetica,sans-serif;
font-style:normal;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:20px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
cursor:pointer;
height:30px;
line-height:30px;
color:#78a855;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_normalover.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}
/*AcrdMenu:0*/

#AcrdMenueadQJBBDiv .eadQJBB__Top{
font-size:0px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
color:#bbbbbb;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:20px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_top.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
cursor:default;
height:3px;
line-height:3px;
}

#AcrdMenueadQJBBDiv .eadQJBB__Top_MO{
color:#ffffff;
font-weight:normal;
font-style:normal;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_top.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}

#AcrdMenueadQJBBDiv .eadQJBB__Top_SEL{
font-size:0px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:20px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
cursor:default;
height:3px;
line-height:3px;
color:#ffffff;
background-color:transparent;
background-image:url();
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}
/*AcrdMenu:0*/

#AcrdMenueadQJBBDiv .eadQJBB__Bottom{
font-size:0px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
color:#bbbbbb;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:20px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_bottom.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
cursor:default;
height:4px;
line-height:4px;
}

#AcrdMenueadQJBBDiv .eadQJBB__Bottom_MO{
color:#ffffff;
font-weight:normal;
font-style:normal;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_bottom.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}

#AcrdMenueadQJBBDiv .eadQJBB__Bottom_SEL{
font-size:0px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:20px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
cursor:default;
height:4px;
line-height:4px;
color:#ffffff;
background-color:transparent;
background-image:url();
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}
/*AcrdMenu:0*/

#AcrdMenueadQJBBDiv .eadQJBB__Level-2{
font-size:11px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
color:#38612b;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:30px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_normal2.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
cursor:pointer;
height:27px;
line-height:27px;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-2_MO{
color:#ffffff;
font-weight:normal;
font-style:normal;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_normalover2.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-2_SEL{
font-size:11px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:30px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
cursor:pointer;
height:27px;
line-height:27px;
color:#ffffff;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_normalover2.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}
/*AcrdMenu:0*/

#AcrdMenueadQJBBDiv .eadQJBB__Level-2-arrow{
font-size:11px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
color:#38612b;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:30px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_arrow2.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
cursor:pointer;
height:27px;
line-height:27px;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-2-arrow_MO{
color:#ffffff;
font-weight:normal;
font-style:normal;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_arrowover2.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-2-arrow_SEL{
font-size:11px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:30px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
cursor:pointer;
height:27px;
line-height:27px;
color:#ffffff;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_arrowover2.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}
/*AcrdMenu:0*/

#AcrdMenueadQJBBDiv .eadQJBB__Level-3{
font-size:11px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
color:#38612b;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:40px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_normal2.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
cursor:pointer;
height:27px;
line-height:27px;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-3_MO{
color:#ffffff;
font-weight:normal;
font-style:normal;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_normalover2.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}

#AcrdMenueadQJBBDiv .eadQJBB__Level-3_SEL{
font-size:11px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:40px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
text-decoration:none;
display:block;
cursor:pointer;
height:27px;
line-height:27px;
color:#ffffff;
background-color:transparent;
background-image:url(../../../../../../../APPDATA/LOCAL/MICROSOFT/WEBMATRIX/EXTENSIONS/30/cssmenusuite.cssmenutools.webmatrix/Shared/CSSMenuTools/Presets/AcrdMenu/Clear%20Stream/Orange%20and%20Green/Images/vsm_normalover2.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0% 50%;
}
/* AcrdMenu end*/